<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title= title
body
	h1= message
	ul
		li.fit-api-status
			if fitApiStatus
				FitBit Authorized!
			else
				| FitBit Not Authorized.
				|
				a(href="/authorize") Click here to authorize
		li.active-since
			| Active since: #{ startTime }
		li.fit-heart-rate
			| Current heart rate: #{ lastHeartRate }
		li.fit-sleep-state
			| Current sleep state: #{ sleepStatus }
		li.fit-heart-time
			| Heart rate data fetched at: #{ heartRateFetchTime }
		li.fit-sleep-time
			| Sleep data fetched at: #{ sleepDataFetchTime }
		li.light-one-brightness
			| Light one brightness: #{ lightOneBrightness }
		li.light-two-brightness
			| Light two brightness: #{ lightTwoBrightness }