<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title= title
body
	h1= message
	ul
		li.fit-api-status
			| #{ fitApiStatus }
		li.fit-heart-rate
			| #{ lastHeartRate }
		li.fit-sleep-state
			| #{ sleepStatus }
		li.fit-heart-time
			| #{ heartRateFetchTime }
		li.fit-sleep-time
			| #{ sleepDataFetchTime }
		li.light-one-brightness
			| #{ lightOneBrightness }
		li.light-two-brightness
			| #{ lightTwoBrightness }